<Configuration status="DEBUG">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %c{1}:%L - %m%n"/>
        </Console>

        <RollingRandomAccessFile name="LogToRollingRandomAccessFile" fileName="/home/cogent/liveproduct/estee/utility/logs/utility_log_file.log"
               filePattern="/home/cogent/liveproduct/estee/utility/logs/$${date:yyyy-MM}/utility_log_file-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %c{1}:%L - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="500"/>
        </RollingRandomAccessFile>

        <Async name="Async">
            <!-- reference to other appenders -->
            <AppenderRef ref="LogToRollingRandomAccessFile"/>
        </Async>

    </Appenders>
    <Loggers>
        <!-- avoid duplicated logs with additivity=false -->
        <Logger name="com.cogent.estee.market.utility" level="debug" additivity="false">
            <AppenderRef ref="Async"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="error">
          <AppenderRef ref="Async"/>
            <AppenderRef ref="LogToConsole"/>
        </Root>
        
    </Loggers>
</Configuration>